.main {
    background-color: #F5FBFC;
    padding: 40px 20px;
    text-align: center;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1024px) {
    .main {
        padding: 30px 15px;
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 768px) {
    .main {
        padding: 20px 10px;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    }
}